Flask
flask-cors
langchain_openai 
langchain_core
python-dotenv
langchain_community
langserve
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
huggingface
langchain
sentence-transformers